<div class="form" style="margin-bottom: 20px;">
    <div style="display: flex; margin-bottom: 20px;">
        <p style="margin-right: 15px; ">form</p>
        <input type="text" [(ngModel)]="list"  />
        <button *ngIf="isShownNextButton" style="margin-left: 15px; padding: 0 0;" (click)="save()">Save</button>
        <button  *ngIf="!isShownNextButton" style="margin-left: 15px; padding: 0 0;" (click)="save()">Update</button>
        <button type="button" style ="margin-left: 15px;" md-button (click)="cancel()">Cancel</button>
    </div>
</div>
<table border="1">
    <thead>
        <tr>
            <td>List</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataArray; let i = index;">
            <td>{{item.list}}</td>
            <!-- <td>{{item.salary}}</td> -->
            <td><button (click)="edit(i)">Edit</button></td>
            <td><button (click)="delete(i)">Delete</button></td>
        </tr>
    </tbody>
</table>